<li>
	{{#if devoured}}
	<button class="change-burger" data-id="{{id}}" data-newburgerstate="{{devoured}}">
		DEVOURED
	</button>
	{{/if}}
	
	<button class="delete-Burger" data-id="{{this.id}}">DELETE!</button>
</li>
